@media (max-width: 1200px) {
  .header__wrap {
    margin: 40px 40px 150px;
  }

  .header__button {
    margin-left: 200px;
  }

  .main {
    margin-left: 150px;
  }

  .main-display__header {
    font-size: 52px;
    max-width: 600px;
  }

  .about-container {
    padding-top: 150px;
  }

  .about-text {
    margin-left: 60px;
  }

  .process-steps > div {
    flex: 1;
  }
}

@media (max-width: 992px) {

  .header__wrap {
    flex-direction: column;
    align-items: center;
    margin: 20px auto 100px;
    text-align: center;
  }

  .header__menu {
    flex-direction: column;
    gap: 30px;
  }

  .header__nav {
    flex-direction: column;
    gap: 20px;
  }

  .header__button {
    margin-left: 0;
  }

  .main {
    margin: 0 auto;
    text-align: center;
  }

  .main-display__header {
    font-size: 42px;
    margin-top: 120px;
    max-width: 90%;
  }

  .main-display__timer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding-top: 120px;
  }

  .about-text {
    margin: 0;
    max-width: 90%;
  }

  .process-container {
    margin-top: 150px;
    text-align: center;
  }

  .process-header {
    flex-direction: column;
  }

  .process-text {
    margin: 0 auto;
    max-width: 80%;
  }

  .process-steps {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .process-steps > div {
    flex: 1 1 40%;
    max-width: 350px;
  }

  .teachers {
    flex-wrap: wrap;
    justify-content: center;
  }

  .teacher {
    width: 300px;
  }
}

@media (max-width: 768px) {
  h1, h2, h3, p {
    text-align: center;
  }

  .main-display__header {
    font-size: 32px;
    margin-top: 80px;
  }

  .main-display__button {
    width: 160px;
    height: 40px;
  }

  .timer__item {
    width: 80px;
    height: 90px;
  }

  .timer__count {
    font-size: 28px;
  }

  .about-image {
    width: 100%;
    height: 300px;
    background-size: contain;
  }

  .process-header h2 {
    font-size: 36px;
  }

  .process-steps {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .process-steps > div {
    max-width: 90%;
  }

  .teachers-header {
    flex-direction: column;
  }

  .teacher {
    width: 90%;
  }

  footer {
    margin-bottom: 100px;
    padding: 0 20px;
    text-align: center;
  }

  .footer-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
}


@media (max-width: 480px) {
  .header__wrap {
    margin: 20px;
  }

  .header__logo {
    width: 32px;
    height: 32px;
  }

  .header__button {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }

  .main-display__header {
    font-size: 26px;
  }

  .timer__item {
    width: 70px;
    height: 80px;
  }

  .timer__count {
    font-size: 24px;
  }

  .process-header h2,
  .teachers-header h2 {
    font-size: 28px;
  }

  .teacher {
    width: 100%;
  }

  .teacher-img {
    width: 150px;
    height: 150px;
  }

  .footer-btn {
    width: 160px;
    height: 40px;
    font-size: 14px;
  }
}
